<div class="card">
    <div class="card-body">
        <div class="card">
            <div class="card-body">
                {{#with heading.main}}
                <h1 class="card-title"> {{title}}</h1>
                <p class="card-text"> {{text}}</p>
                <p><button type="button" class="btn btn-primary"> {{button_text.solid}}</button></p>
                <button type="button" class="btn btn-outline-primary">{{button_text.outline}}</button>
                {{/with}}
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with heading.second}}
                <h2 class="card-title"> {{title}}</h2>
                <p class="card-text"> {{text}}</p>
                <p><button type="button" class="btn btn-secondary">{{button_text.solid}}</button></p>
                <div><button type="button" class="btn btn-outline-secondary">{{button_text.solid}}</button></div>
                {{/with}}
            </div>
        </div>
        <br>
        <br>
        <div class="card">
            <div class="card-body">
                {{#with heading.subblock}}
                <h3 class="card-title"> {{title}}</h3>
                <p class="card-text"> {{text}}</p>
                <p><button type="button" class="btn btn-dark">{{button_text.solid}}</button></p>
                <button type="button" class="btn btn-outline-dark">{{button_text.solid}}</button>
                {{/with}}
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="card">
    <div class="card-body">
        {{#with nested_display}}
        <div class="display-1">{{title}} </div>

        <div class="card">
            <div class="card-body">
                {{#with children_display}}
                <div "display-4"> {{title}}</div>
                <p class="card-text"> {{text}}</p>
                <button type="button" class="btn btn-outline-warning"> {{button.text}}</button>
                {{/with}}
            </div>
        </div>
        <br>
        <h6> {{header_text}}</h6>
        <button type="button" class="btn btn-info"> {{button.text}}</button>
        <br>
        <br>
        {{/with}}
    </div>
</div>
<br>
<br>
<div class="card">
    <div class="card-body">
        {{#with paragraph}}
        <p class="text-uppercase"> {{title}} </p>
        <p class="card-text"> {{text}}</p>
        <button type="button" class="btn btn-link" href="{{button.url}}">{{button.text}}</button>
        <div class="card">
            <div class="card-body">
                <ul>
                    {{#each list_name}}
                    <li> <button type="button" class="btn btn-link" href="{{url}}">{{text}}</button></li>
                    {{/each}}
                </ul>
            </div>
        </div>

        {{/with}}

    </div>
</div>